.big-search {
    animation: big-search .9s ease-in-out;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    white-space: nowrap;

    /////////////////////////////////////////////////////////////////////

    .sub {
        color: rgb(100, 220, 220);
        letter-spacing: 1em;
        margin-bottom: 20px;
        user-select: none;
    }

    @mixin glitchCopy {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .glitch {
        position: relative;
        color: white;
        font-size: 6rem;
        letter-spacing: .25em;
        user-select: none;
        animation: glitch-skew 1s infinite linear alternate-reverse;

        &::before {
            @include glitchCopy;
            left: 2px;
            text-shadow: -2px 0 #ff00c1;

            clip: rect(44px, 450px, 56px, 0);

            animation: glitch-anim 7s infinite linear alternate-reverse;
        }

        &::after {
            @include glitchCopy;
            left: -2px;
            text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
            animation: glitch-anim2 2s infinite linear alternate-reverse;
        }
    }

    @keyframes glitch-anim {
        $steps: 20;
        @for $i from 0 through $steps {
            #{percentage($i*(1/$steps))} {
                clip: rect(random(100)+px, 9999px, random(100)+px, 0);
                transform: skew((random(100) / 100) + deg);
            }
        }
    }

    @keyframes glitch-anim2 {
        $steps: 20;
        @for $i from 0 through $steps {
            #{percentage($i*(1/$steps))} {
                clip: rect(random(100)+px, 9999px, random(100)+px, 0);
                transform: skew((random(100) / 100) + deg);
            }
        }
    }

    @keyframes glitch-skew {
        $steps: 10;
        @for $i from 0 through $steps {
            #{percentage($i*(1/$steps))} {
                transform: skew((random(10) - 5) + deg);
            }
        }
    }
    ////////////////////////////////////////////////////////
    // logo
    .logo {
        text-align: center;
        color: white;
        font-size: 7rem;
        position: relative;
    }

    // search
    .search {
        margin: 0 auto;
        text-align: center;
        position: relative;
        width: 55%;

        input {
            &::placeholder {
                transition: .2s ease-in-out;
                text-align: center;
                width: 100%;
                text-overflow: ellipsis;
                letter-spacing: 1.2px;
            }

            border: 1px solid white;
            width: 100%;
            padding: 10px 20px;
            background: black;
            color: white;
            height: 70px;
            font-size: 1.5rem;
            transition: .18s ease-in-out;

            &:focus {
                &::placeholder {
                    opacity: 0;
                    transform: translateX(-100%);
                }
                border: 3px solid white;
                outline: none;
            }


        }

        .search-magnifier-button {
            width: 70px;
            height: 70px;
            background: none;
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            color: white;
            font-size: 2rem;
            transition: 0.5s;
            outline: none;

            &:hover {
                transform: scale(1.2) rotate(360deg);
            }
            &:active {
                transform: scale(0.8) rotate(350deg)
            }
        }
    }

    color: white;
    padding: 80px;
    background-color: black;
}

@media (max-width: 600px) {
    .logo {
        font-size: 3rem !important;
    }
    .sub {
        font-size: 2vw;
    }
    .big-search {
        padding: 45px;
    }
}

@media (max-width: 700px) {
    .sub {
        font-size: 3vw;
    }
}

@media (max-width: 1150px) {

    .search {
        overflow: hidden;
        text-overflow: ellipsis;
        .search-magnifier-button {
            font-size: 1.5rem!important;
            width: 60px!important;
            height: 60px!important;
        }
        input {
            height: 60px!important;
            &::placeholder {
                font-size: 1.4rem;
                max-width: 60px;
                display: inline-block;
                width: 20px;
            }
        }
        width: 100% !important;
        font-size: 0.7rem !important;
    }
}

@media (max-width: 1000px) {
    .glitch {
        font-size: 7vw!important;
    }
}

@keyframes big-search {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}