.main-page-contact {
    display: flex;
    padding: 40px 0 80px 0;
    justify-content: space-around;

    .description {
        animation: social-media-contact .3s ease-in-out;
        background: black;
        color: white;
        max-width: 300px;
        padding: 20px!important;
        a {
            display: block;
            margin-top: 10px;
            color: #929292;
            transition: .18s ease-in-out;
            &:hover {
                letter-spacing: 1.2px;
                color: #c1c1c1;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .main-page-contact {
        flex-direction: column;

        & div:not(:first-child) {
            align-items: center;
        }
    }
}

@keyframes social-media-contact {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}