# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
front-end/node_modules
backend/node_modules
admin-bot/node_modules

front-end/build

/.pnp
.pnp.js

# data
backend/public
backend/data

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

front-end/.env
front-end/.env.production
backend/.env
admin-bot/.env
*/.env.production
*/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
admin-bot/.idea
backend/.idea
front-end/.idea

