<table width="100%" style="background-color:#2b2b2b;min-width:600px; border: none; border-spacing: 0">
    <tbody style="border-spacing: 0">
    <tr>
        <td align="center" valign="top" width="100%" style="min-width:600px; padding: 0">
            <center style="padding: 0">
                <table width="100%" style="min-width:600px" border="0" cellpadding="0" cellspacing="0"
                       bgcolor="#f1f1f1">
                    <tbody>
                    <tr>
                        <td align="center">
                            <table width="100%" style="min-width:600px" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr height="50">
                                    <td width="100%" height="50" style="line-height:1px;font-size:1px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table border="0" cellpadding="0" cellspacing="0" style="min-width:600px">
                                            <tbody>
                                            <tr>
                                                <td valign="middle" align="center">
                                                    <div style="max-height:50px">
                                                        <div>
                                                            <!--                                                                <a href="https://accts.epicgames.com/T/v61000001777e50866590d4a3434b5c55d8/5cd7ab086bb44c960000021ef3a0bcc2/5cd7ab08-6bb4-4c96-a460-8f6ee247b238?__dU__=v0G4RBKTXg2GsSUKeCIT0ZsixpTu2oNAqvl6X7t4UbJT0=&amp;__F__=v0fUYvjHMDjRPMSh3tviDHXIoXcPxvDgUUCCPvXMWoX_0JoZLAZABQF2Skw9vkwo_mga2JAbIShxp9CWnI6HiATIqGqMAM5P5DvA4NbIL3oT5CJ60BcBYDrzIAR5fJi2NnXDdoDiDAWJReuX0T42aqeHwU4gxhkcXa8vp1xEZ2hY0ZstFNjZhSs7w-9vLym-7r6M41uqYKZe8suHaajpx5-pRC5sLQvv_Krp_MHdHwhBpFX1B6uoExtRpzHly5HE43sOW8XUKLj2bNLUdbKvFXQXgTFPteb5_t"-->
                                                            <!--                                                                   target="_blank"-->
                                                            <!--                                                                   data-saferedirecturl="https://www.google.com/url?q=https://accts.epicgames.com/T/v61000001777e50866590d4a3434b5c55d8/5cd7ab086bb44c960000021ef3a0bcc2/5cd7ab08-6bb4-4c96-a460-8f6ee247b238?__dU__%3Dv0G4RBKTXg2GsSUKeCIT0ZsixpTu2oNAqvl6X7t4UbJT0%3D%26__F__%3Dv0fUYvjHMDjRPMSh3tviDHXIoXcPxvDgUUCCPvXMWoX_0JoZLAZABQF2Skw9vkwo_mga2JAbIShxp9CWnI6HiATIqGqMAM5P5DvA4NbIL3oT5CJ60BcBYDrzIAR5fJi2NnXDdoDiDAWJReuX0T42aqeHwU4gxhkcXa8vp1xEZ2hY0ZstFNjZhSs7w-9vLym-7r6M41uqYKZe8suHaajpx5-pRC5sLQvv_Krp_MHdHwhBpFX1B6uoExtRpzHly5HE43sOW8XUKLj2bNLUdbKvFXQXgTFPteb5_t&amp;source=gmail&amp;ust=1615201610780000&amp;usg=AFQjCNFpkbuNqOWD4HSnhagjhMRChu3KOA"><img-->
                                                            <!--                                                                        align="none" alt="Epic Games" border="0"-->
                                                            <!--                                                                        hspace="0"-->
                                                            <!--                                                                        src="https://ci3.googleusercontent.com/proxy/eP4FFa-mqn0IZZSJgV9B1kEGaN-q4Na_OUBLG7ag4iLWQRamiZ84Ua3VRnZdBgTmlV2LrY1XFivTF2lwG3KQcUMZovbZ3UDUedWetGmgORBvm3A5X9uWklzvU4PVjc3iu-5Y5qoJA4t9xgRKuPeHOt9c9l6GaK8xgHlTDapJdbX8djsngrugJ1ZILklNZ0vkkg=s0-d-e1-ft#http://images.harmony.epsilon.com/ContentHandler/images/61a7fbcf-9940-4c13-ad82-1cc8d60d33bf/RTM_Images/EML_EPICGAMES_LOGO.png"-->
                                                            <!--                                                                        style="max-width:70px;height:auto;display:block;margin:0px"-->
                                                            <!--                                                                        title="Epic Games" vspace="0" width="70px"-->
                                                            <!--                                                                        class="CToWUd">-->
                                                            <!--                                                                </a>-->
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" style="min-width:600px" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td align="center">
                                        <table width="560" border="0" cellpadding="0" cellspacing="0"
                                               style="min-width:560px; background: black; border-top-left-radius: 50%; border-top-right-radius: 50% ">
                                            <tbody>
                                            <tr height="50">
                                                <td width="100%" height="50" style="line-height:1px;font-size:1px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr height="50">
                                                <td width="100%" height="50"
                                                    style="letter-spacing: 5px; text-align: center; color: #00fff7">
                                                    CHERRIES BY BEATSTORE
                                                </td>
                                            </tr>
                                            <tr>

                                                <td width="560" align="center"
                                                    style="font-weight:bold;font-size:50px;color:#313131;text-align:left;line-height:75px">
                                                    <div style="text-align:center;line-height:75px; color: white">
                                                        Thank you for registration!
                                                    </div>


                                                </td>
                                            </tr>
                                            <tr height="30">
                                                <td width="100%" height="30" style="line-height:1px;font-size:1px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>


                <table width="100%" style="min-width:600px" border="0" cellpadding="0" cellspacing="0"
                       bgcolor="#f1f1f1">
                    <tbody>
                    <tr>
                        <td align="center">
                            <table width="600" style="min-width:600px;background-color:#ffffff" bgcolor="#ffffff"
                                   border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td align="center">
                                        <table width="560" border="0" cellpadding="0" cellspacing="0"
                                               style="min-width:560px">
                                            <tbody>
                                            <tr height="30">
                                                <td width="100%" height="30" style="line-height:1px;font-size:1px">
                                                    &nbsp;
                                                </td>
                                            </tr>

                                            <tr>
                                                <td width="560" align="center"
                                                    style="font-size:16px;color:#313131;text-align:left;line-height:24px">

                                                    <div style="text-align:center;line-height:24px">
                                                        <span style="font-size:18px">
                                                            <strong>Hello, {{username}}</strong>
                                                            </span>
                                                        <br>
                                                        <span style="font-size:18px">
                                                            <strong>You need to verify your account!</strong>
                                                            </span>

                                                        <div style="font-size:18px">
                                                            <strong>Click the button below</strong>
                                                        </div>

                                                        <br>
                                                        Thank you for choosing exactly my tracks for your
                                                        project!<br><br>
                                                        <div style="margin: 0 auto; width: 200px">
                                                            <a href="{{confirmationUrl}}"
                                                               style="width: 200px; height: 50px; background: black; display: table-cell; margin: 0 auto; color: white; text-decoration: none; vertical-align: middle"
                                                            >
                                                                VERIFY
                                                            </a>
                                                        </div>


                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="15">
                                                <td width="100%" height="15" style="line-height:1px;font-size:1px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>


                <table width="100%" style="min-width:600px" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td align="center">
                            <table width="600" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff"
                                   style="min-width:600px;background-color:#ffffff">
                                <tbody>
                                <tr>
                                    <td align="center">
                                        <table width="540" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td align="center">

                                                </td>
                                            </tr>


                                            <tr height="20">
                                                <td width="100%" height="20" style="line-height:1px;font-size:1px">
                                                    &nbsp;
                                                </td>
                                            </tr>


                                            <tr height="20">
                                                <td width="100%" height="20" style="line-height:1px;font-size:1px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr height="1">
                                                <td width="100%" height="1"
                                                    style="line-height:1px;font-size:1px;background-color:#e2e3e4">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr height="20">
                                                <td width="100%" height="20" style="line-height:1px;font-size:1px">
                                                    &nbsp;
                                                </td>
                                            </tr>


                                            <tr>
                                                <td align="center">
                                                    <div style="font-size:14px;color:#313131;text-align:center;line-height:26px">
                                                        <strong>Follow my social media</strong>
                                                        <br>
                                                        <br>
                                                        <a href="facebook" style="margin: 5px"><img width="35"
                                                                                                    height="35"
                                                                                                    src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/f-ogo_RGB_HEX-58.png"
                                                                                                    alt=""></a>
                                                        <a href="twitter" style="margin: 5px"><img width="35"
                                                                                                   height="35"
                                                                                                   src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/Twitter_Logo_WhiteOnBlue-150x150.png"
                                                                                                   alt=""></a>
                                                        <a href="instagram" style="margin: 5px"><img width="35"
                                                                                                     height="35"
                                                                                                     src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/glyph-logo_May2016-150x150.png"
                                                                                                     alt=""></a>
                                                        <a href="youtube" style="margin: 5px"><img width="45"
                                                                                                   height="35"
                                                                                                   src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/yt_icon_rgb-310x219.png"
                                                                                                   alt=""></a>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr height="50">
                                                <td width="100%" height="50" style="line-height:1px;font-size:1px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>


                <table width="100%" style="min-width:600px" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td align="center">
                            <table width="600" border="0" cellpadding="0" cellspacing="0" style="min-width:600px">
                                <tbody>
                                <tr height="15">
                                    <td width="100%" height="15" style="line-height:1px;font-size:1px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table width="560" border="0" cellpadding="0" cellspacing="0"
                                               style="min-width:560px">
                                            <tbody>
                                            <tr>

                                            </tr>
                                            <tr height="20">
                                                <td width="100%" height="20" style="line-height:1px;font-size:1px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <div style="font-size:12px;color:#858585;text-align:center;line-height:20px">
                                                        <p>
                                                            © Cherries By Beatstore.
                                                        </p><br>
                                                        <a
                                                                href="https://accts.epicgames.com/T/v61000001777e50866590d4a3434b5c55d8/5cd7ab086bb44c960000021ef3a0bcc5/5cd7ab08-6bb4-4c96-a460-8f6ee247b238?__dU__=v0G4RBKTXg2GsSUKeCIT0ZsixpTu2oNAqvl6X7t4UbJT0=&amp;__F__=v0fUYvjHMDjRPMSh3tviDHXIoXcPxvDgUUCCPvXMWoX_0JoZLAZABQF2Skw9vkwo_mga2JAbIShxqdFzHYpPnL89HhrNBq3lw3tiE3xsAycXyuvJpzvFoxMqpPYuafiXKmYBtfyCxvBp-nJeDcRAG-2vADz43H0TbHYtXeHFz4HraCg2rwbQnTrbyc9WCF3_511ntqfTK_SwyAdM9KhSnVAsMp-kUDVGIq3oESzGGYuj8-hUcUAylJSBKDznHggVoTQ4ta6_K-d34J2y5c9WaQw-j32rttLwXaMd-RfrOjbXJvkf1_tw_hfk7mJ0wvtc7A"
                                                                style="color:#037aee" target="_blank"
                                                                data-saferedirecturl="https://www.google.com/url?q=https://accts.epicgames.com/T/v61000001777e50866590d4a3434b5c55d8/5cd7ab086bb44c960000021ef3a0bcc5/5cd7ab08-6bb4-4c96-a460-8f6ee247b238?__dU__%3Dv0G4RBKTXg2GsSUKeCIT0ZsixpTu2oNAqvl6X7t4UbJT0%3D%26__F__%3Dv0fUYvjHMDjRPMSh3tviDHXIoXcPxvDgUUCCPvXMWoX_0JoZLAZABQF2Skw9vkwo_mga2JAbIShxqdFzHYpPnL89HhrNBq3lw3tiE3xsAycXyuvJpzvFoxMqpPYuafiXKmYBtfyCxvBp-nJeDcRAG-2vADz43H0TbHYtXeHFz4HraCg2rwbQnTrbyc9WCF3_511ntqfTK_SwyAdM9KhSnVAsMp-kUDVGIq3oESzGGYuj8-hUcUAylJSBKDznHggVoTQ4ta6_K-d34J2y5c9WaQw-j32rttLwXaMd-RfrOjbXJvkf1_tw_hfk7mJ0wvtc7A&amp;source=gmail&amp;ust=1615201610781000&amp;usg=AFQjCNGWLDwK0IxbVOwCudqjY_HBXUDNJA">
                                                            www.cherriesby.com</a>


                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="color:#313131">&nbsp;</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </center>
        </td>
    </tr>
    </tbody>
</table>
