
footer {
    height: auto;
    min-height: 180px;
    max-height: 190px;
    background-color: black;
    //background-image: linear-gradient(white, black);
    width: 100%;
    flex: 1;
    color: white;

    .footer__wrapper {
        min-width: 300px;
        display: flex;
        justify-content: space-between;
        max-width: 700px;
        margin: 0 auto;
        padding: 20px;

        .footer__copyright {
            span {
                &:first-child {
                    font-size: 2rem;
                    font-weight: bold;

                }

                &:last-child {
                    font-size: 0.7rem;
                    margin-top: 30px;
                    color: #00FFF9;
                }

                display: block;

                .footer__circle {
                    font-size: 0.33rem;
                    vertical-align: middle;
                    color: white;
                }
            }

        }

        .footer__links {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            //margin: 30px;
            & a:not(:first-child) {
                margin-top: 10px;
            }
            a {
                display: block;
                color: #929292;
                transition: .18s ease-in-out;

                &:hover {
                    letter-spacing: 1.2px;
                    color: #c1c1c1;
                }
            }

            .footer__youtube {
                color: red;
            }

            .footer__instagram {
                color: deeppink;
            }
        }
    }
}
