
footer {

    height: auto;
    min-height: 180px;
    max-height: 190px;
    background-color: black;
    //background-image: linear-gradient(white, black);
    width: 100%;
    flex: 1;
    color: white;
    .footer__wrapper {
        min-width: 300px;
        display: flex;
        justify-content: space-between;
        max-width: 700px;
        margin: 0 auto;
        padding-top: 50px;

        .footer__copyright {
            span {
                &:first-child {
                    font-size: 2rem;
                    font-weight: bold;

                }
                &:last-child {
                    font-size: 0.7rem;
                    margin-top: 30px ;
                    color: #00FFF9;
                }
                display: block;

                .footer__circle {
                    font-size: 0.33rem;
                    vertical-align: middle;
                    color: white;
                }
            }

        }

        .footer__links {
            //margin: 30px;
            a {
                display: inline-block;
                text-align: center;
                margin-left: 15px;
                transition: transform 0.15s ease-in-out, rotate 2s ease-in-out;
                &:hover {
                    transform: scale(1.1);
                }
            }
            .footer__youtube {
                color: red;
            }

            .footer__instagram {
                color: deeppink;
            }
        }
    }
}
