.tracks-table {
    position: relative;
    margin: 10px;
    table {
        width: 95%;
        max-width: 900px;
        margin: 0 auto 30px auto;

        tr {
            transition: .15s ease-in-out;

            &:not(:first-child) {
                &:hover:not(.selected_tr) {
                    cursor: pointer;
                    background: #e0e0e0;
                }
            }
            td {
                text-align: left;
                margin: 5px!important;
                &.title {
                    font-weight: 400;
                    padding-left: 20px;
                    padding-right: 20px;
                    min-width: 200px;
                }

                &.time {
                    min-width: 50px;
                }

                &.tags {
                    font-weight: lighter;
                }
            }
        }


        .selected_tr {
            transition: .25s ease-in-out;
            color: #ffffff;
            animation: gradient 4.45s ease-in-out infinite alternate;
        }
        @keyframes gradient {
            0% {
                background: linear-gradient(90deg, var(--c1, #000000) 51%, var(--c2, #ff00c1), var(--c1, #00fff9)) 0%/ 200%;;
            }
            100% {
                background: linear-gradient(90deg, var(--c1, #000000) 51%, var(--c2, #ff00c1), var(--c1, #00fff9)) 100%/ 200%;;

            }
        }
        .table-head {
            letter-spacing: 1.5px;

            td {
                height: 30px;
                color: #8b8b8b;
                font-weight: normal;
                border: 0!important;
                min-width: 50px;
            }
            .title .bpm .tags-cap {
            }
        }
    }
}
#top-10-track-table {
    tr {
        border-bottom: lightgray 1px solid;

    }
}
@media (max-width: 700px) {
    .tracks-table {
        tr {
            td:nth-child(5), th:nth-child(5) {
                display: none;
            }

            .title {
                min-width: 0 !important;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    #top-10-track-table {
        max-width: 1200px;
    }
}

.progress-bar {
    background: none;
}
