@keyframes ldio-6vf8iexp8ye {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.spinner-audio {
    display: flex;
    justify-content: center;
}
.ldio-6vf8iexp8ye div {
    position: absolute;
    width: 58px;
    height: 58px;
    border: 8px solid #ff05ee;
    border-top-color: transparent;
    border-radius: 50%;
}

.ldio-6vf8iexp8ye div {
    animation: ldio-6vf8iexp8ye 2s linear infinite;
    top: 50px;
    left: 50px
}

.loadingio-spinner-rolling-w1s13fr1iws {
    width: 38px;
    height: 38px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}

.ldio-6vf8iexp8ye {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.38);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-6vf8iexp8ye div {
    box-sizing: content-box;
}

