


.music-player__container {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 5;
    bottom: 0;
    width: 100%;
    height: 85px;
    background: rgba(0, 0, 0, 0.8);

    .control-buttons {
        display: flex;
        flex-direction: row;
    }
}