
.music-player__container {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 5;
    bottom: 0;
    width: 100%;
    transition: .9s ease-in-out;
    animation: player-mount 1.3s ease-in-out;

    .progress-bar {
        width: 100%;
        position: absolute;
        overflow: visible;
        background: transparent;
        top: -13px;

    }

    .main-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(40, 40, 40, 1);
        height: 70px;
        width: 100%;

        .information-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;

            .image-container {
                height: 100%;
                min-height: 70px;
                width: 70px;

                img {
                    border-radius: 2px;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .title-container {
                width: 150px;
                white-space: nowrap;

                .title {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    color: white;
                    font-weight: bold;
                }

                .author {
                    color: #a9a9a9;;
                }

                padding: 15px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        .player-buttons {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: white;

            .repeat {
                color: white;
                margin: 0 10px 0;
            }

            .step-backward {
                margin: 0 10px 0;
            }

            .play {
                margin: 0 10px 0;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(90deg, var(--c1, #ff00c1), var(--c1, #00fff9)) var(--x, 0)/ 200%;
                border-radius: 50%;
                position: relative;
                transition: .2s ease-in-out;
                cursor: pointer;

                &:hover {
                    --x: 100%;
                }

                .icon {
                    top: 50%;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                }
            }

            .step-forward {
                margin: 0 10px 0;
            }

            .step-backward, .step-forward, .repeat {
                cursor: pointer;
                transition: .12s ease-in-out;

                &:hover {
                    color: #FF00C1;
                }
            }
        }

        .player-actions {
            //display: flex;
            //flex-direction: row;
            //align-items: center;
            padding: 10px;

            .volume {
                color: white;
                align-items: center;
                display: flex;
                justify-content: space-between;
                min-width: 190px;

                .slider {
                    margin: 7px 8px 0 10px;
                }
            }
        }

        .seconds-display {
            min-width: 30px;
            font-size: 1.2rem;
            color: #dbdbdb;
        }

        .control-buttons {
            display: flex;
            flex-direction: row;
        }
    }
}

@media (max-width: 650px) {
    .music-player__container {
        .main-content {
            height: 60px;

            .information-container {
                .image-container {
                    width: 60px;
                }
                    .title-container {
                    padding: 10px;
                }
            }

            .player-actions {
                display: none;
            }
        }
    }
}

@media (max-width: 400px) {
    .music-player__container {
        .main-content {
            .player-buttons {
                .repeat {
                    display: none;
                }
            }
        }
    }
}

@keyframes player-mount {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}