
.input-container {
    width: 100%;
    position: relative;
}
.component-label {
    position: absolute;
    margin: 0;
    left: 10px;
    top: 50%;
    transform: translateY(-50%)!important;
    transition: .2s ease;
    font-size: 1.4rem;
}

// input
.input-required {
    z-index: 1;
    background: none;
    color: white;
    border: 1px solid white;
    height: 40px;
    padding: 3px 8px;
    width: 100%;
    transition: .2s;
    position: relative;
    // delete default styles
    &:focus, &:valid {
        outline: none;

        & ~ label {
            transform: translateY(-200%) translateX(-10px)!important;
            font-size: 1rem;
        }
    }
}
.input-non-required {
    z-index: 1;
    background: none;
    color: white;
    border: 1px solid white;
    height: 40px;
    padding: 3px 8px;
    width: 100%;
    transition: .2s;
    position: relative;
    // delete default styles
    &:focus {
        outline: none;

        & ~ label {
            transform: translateY(-200%) translateX(-10px)!important;
            font-size: 1rem;
        }
    }
}