$heightForLarge: 60px;
$heightForNotLarge: 50px;

.cart-item-appended-animation {
    animation: cart-item-appended-animation .2s ease-in-out forwards;
}
.cart-item-deleted-animation {
    animation: cart-item-deleted-animation .2s ease-in-out forwards;
}

.main-row {
    transition: .15s ease-in-out;

    .row-item {
        //margin-top: 10px!important;
        color: white!important;
        overflow: hidden;
        //white-space: nowrap;
        text-overflow: ellipsis;
        border: none !important;
        min-height: 40px !important;
        font-weight: 400;
        word-break: break-word;
    }
    .button {
        border-radius: 0 !important;
        margin: 0 !important;
        background: #000000;
        color: #ffffff !important;
        padding: 10px;
        letter-spacing: 1px;
        border: 1px solid white;
        &:hover {
            background-color: #ffffff;
            border-radius: 0 !important;
            transition: 0.45s;
            background-size: 30px !important;
            color: #000000 !important;
        }
    }
    &:hover {
        background: #282828 !important;

    }
    .img-container {
        height: $heightForNotLarge !important;
        max-width: $heightForNotLarge !important;
        padding: 5px!important;
        position: relative;
        .img-cart {
            height: $heightForNotLarge;
            width: $heightForNotLarge;
            object-fit: cover;
            text-align: center;
        }
        .play-button-cart {
            background: none;
            font-size: 1.6rem;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .2s ease-in-out;
            &:hover {
                transform: scale(1.2) translate(-40%, -40%);
            }
        }
    }
    .button-license {
        text-align: center;
        justify-content: right!important;
        padding: 0!important;
        margin: 0!important;

        .button {
        }
    }
    .remove-from-cart-button-container {
        padding: 0!important;
        .remove-from-cart-button {
            color: white;
            background: none;
            transition: .18s ease-in-out;
            padding: 0!important;
            &:hover {
                transform: rotate(90deg) scale(1.5);
            }
            &:active {
                transform: scale(0.7) rotate(90deg);
                //animation: remove .2s ease-in-out;
            }
        }
    }
    .basket__remove-item {
        cursor: pointer;
    }
    .main-row-animation {
        animation: close-row-animation .5s ease-in-out;
    }

}

@keyframes close-row-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);

    }
    100% {
        transform: scale(0);

    }
}

@media screen and (min-width: 1920px) {
    .img-container {
        width: $heightForLarge !important;
        height: $heightForLarge !important;
    }
}
@keyframes remove {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1);
    }

}

@keyframes cart-item-appended-animation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);

    }
}
@keyframes cart-item-deleted-animation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

