.blurred-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.85);
    transition: .2s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999999;

}