* {
    font-family: 'Poppins', sans-serif !important;
}
html {
    height: 100%;
}
body {
    min-height: 100vh;
    background: black!important;
}
/* global classes */
.bg-black {
    background-color: black !important;
    color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*Player background color fix*/
.progress-bar {
    background: none !important;
}

.music-player-panel {
    transition: 1.5s ease-in-out !important;
}

.rc-slider-handle {
    background: #FF00C1 !important;
}

.rc-slider-track {
    background: #FF00C1 !important;
}

/* Invert button*/
.invert-button {
    transition: .2s;
    background-color: white;
    color: black;
    border: 1px solid white;
}

.invert-button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

button {
    border: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    position: absolute;
    background-color: #212121;
    margin-right: 5px !important;
    transition: .15s ease-in-out;

}

::-webkit-scrollbar-thumb {
    background-color: gray;
    /*border: 1px solid white;*/
    /*background-color: white;*/
    border-radius: 50px;
    transition: 5s;

}

::-webkit-scrollbar-thumb:hover {
    background-color: darkgrey;
}

button:focus {
    outline: none !important;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1;
    height: 100%;
}
